.about-container {
  margin-top: 3rem;
}

.head-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skills-container {
  display: flex;
  justify-content: center;
}

.skills-heading {
  text-align: center;
}

.socials-container {
  display: flex;
  justify-content: center;
  gap: 3rem;
}

p {
  text-align: center;
}
