.navbar {
    display: flex;
    justify-content: space-between;
}

.navlinks {
    display: flex;
    padding: 0;
    justify-content: space-between;
    gap: 1rem;
}

.li-nav {
    list-style: none;
}
