@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

.slides {
    width: 50%;
    margin: 10rem auto;
    height: 400px;
}



.slide img {
    width: 400px;
    margin: 0 auto;
}

.slide {
    transform: scale(0.3);
    transition: transform 300ms;
    opacity: .5;
}

.activeSlide {
    transform: scale(2);
    opacity: 1;

}